<h1>Manage activities</h1>

<p *ngIf="!activities"><em>Loading...</em></p>

<table class='table' *ngIf="activities">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Places</th>
      <th>Time slot</th>
      <th>Type</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let act of activities">
      <td>{{ act.title }}</td>
      <td>{{ act.description }}</td>
      <td>{{ act.places }}</td>
      <td>{{ act.timeSlotId }}</td>
      <td>{{ act.typeId }}</td>
      <td>
        <button class="btn btn-warning" (click)="setActivityReview(act.id)">REVIEW</button>
      </td>
      <td>
        <button class="btn btn-success" (click)="setActivityActive(act.id)">ACTIVE</button>
      </td>
    </tr>
  </tbody>
</table>
