<h1>Activity list</h1>

<p>Activities in the event</p>

<p *ngIf="!activities"><em>Loading...</em></p>

<table class='table' *ngIf="activities">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Places</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let act of activities">
            <td>{{ act.title }}</td>
            <td>{{ act.description }}</td>
            <td>{{ act.places }}</td>
        </tr>
    </tbody>
</table>
